* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 80px 20%;
}

.container {
  padding: 40px;
  border-radius: 20px;
  background-color: bisque;
  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    .card {
      flex-basis: calc(100% / 5);
      padding: 20px;
      margin-bottom: 20px;
      border: 1px solid #000;
      background-color: aqua;
      h2 {
        margin-bottom: 15px;
      }
    }
  }
}